* {
    margin: 0;
    padding: 0;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
    font-size: var(--standard-font-size);
    border-radius: 0.6rem;
}

body {
    min-height: 100vh;
    padding: 1rem 0;
}

:root {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--text-clr);
    background-color: var(--main-clr);
    --standard-font-size: 1.2rem;
    --h2-font-size: 2.8rem;
    --h3-font-size: 1.9rem;
    --main-clr: #2D3047;
    --accent-clr: #d2f5ff;
    --text-clr: #FFFD82;
}

h1 {
    font-size: 5rem;
    margin: auto;
    width: fit-content;
}

h2 {
    font-size: var(--h2-font-size);
}

form h2 {
    text-align: center;
    border-bottom: 1px solid var(--accent-clr);
}

.name label, h3 {
    font-size: var(--h3-font-size);
    font-weight: 500;
}

.player-sections {
    display: flex;
    justify-items: center;
    gap: 2rem;
    flex: 1;
}

section.player {
    flex: 1;
    display: grid;
    grid-template: auto repeat( 3, 1fr) / 1fr;
    border: 2px solid var(--accent-clr);
    padding: 2rem;
}

form {
    min-height: 70vh;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

fieldset {
    border-bottom: 1px solid var(--accent-clr);
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
}

input[type="radio"] {
    accent-color: var(--accent-clr);
}

li {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

li::marker {
    content: "";
}

.error {
    color: rgb(255, 66, 66);
}

.name {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.name input {
    font-size: var(--standard-font-size);
    padding: 0.8em 0.3rem;
    background-color: var(--accent-clr);
    appearance: none;
    border: none;
}

.name input:focus {
    outline: 3.7px solid white;
    outline-offset: max(1px, 0.05em);
    border: none;
}

.board {
    margin: auto;
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    background-color: var(--text-clr);
    gap: 0.4rem;
}

.game-result {
    margin: auto;
    width: fit-content;
}

.gameplay-session h2 {
    font-weight: 500;
}

.gameplay-session > :nth-child(n) {
    margin-bottom: 1rem;
}

.board button {
    color: var(--text-clr);
    background-color: var(--main-clr);
    width: 7rem;
    height: 7rem;
    font-size: 6rem;
    border-radius: 0;
}

.in-game-options {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

button {
    appearance: none;
    border: none;
}

.in-game-options > button, form > button {
    padding: 0.8em 0.3rem;
    width: 14rem;
    margin: 0 auto;
    display: block;
    font: inherit;
    font-size: var(--standard-font-size);
    background-color: var(--accent-clr);
}

.gameplay-session {
    display: none;
}

