* {
    margin: 0;
    padding: 0;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;

}

:root {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --standard-font-size: 1.2rem;
}

.board {
    margin: auto;
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    background-color: rgb(19, 1, 120);
    gap: 0.2rem;
}

.game-result {
    font-size: 4rem;
    margin: auto;
    width: fit-content;
}

.board button {
    background-color: white;
    width: 10rem;
    height: 10rem;
}

.in-game-options > button, form > button {
    appearance: none;
    padding: 0.8em 0.3rem;
    width: 14rem;
    border: none;
    margin: auto;
    display: block;
    font: inherit;
    font-size: var(--standard-font-size);
}

.gameplay-session {
    display: none;
}